!src/pas
.coverage*
.pydevproject
.pytest_cache
.ruff_cache
.python-version
.venv
*.egg-info
*.log
*.mo
*.pyc
*.swp
constraints-mxdev.txt
constraints.txt
instance
requirements-mxdev.txt
requirements.lock
requirements.txt
