!src/pas
.coverage*
.installed.cfg
.mr.developer.cfg
.project
.pydevproject
.python-version
.settings/
.vscode/
*.egg-info
*.log
*.mo
*.pyc
*.swp
bin/
buildout-cache/
develop-eggs/
devsrc/*
dist
docs/doctrees/
docs/html/
docs/make.bat
docs/Makefile
downloads
eggs
etc/
Gruntfile.js
htmlcov/
include/
inituser
lib/
local/
log.html
node_modules/
output.xml
package.json
parts/
pip-selfcheck.json
report.html
selenium-screenshot-*.png
temp_resources
var/
