
name: Tests

on:
  push:

env:
  PYTHON_VERSION: "3.12"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout codebase
        uses: actions/checkout@v4

      - name: Install hatch
        run: pipx install hatch

      - name: Generate Constraints file
        run: pipx run mxdev -c mx.ini

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
          cache: 'pip'

      - name: "Install Environment"
        run: hatch env create

      - name: "Test Codebase"
        run: hatch run test
